a,
a:hover,
a:focus,
a:active,
a.active{
	outline=0;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #76B900;

}

.img-thumbnail,.btn-primary,.btn-success,.badge{

    -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    -moz-box-shadow:    0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    box-shadow:         0px 0px 18px 0px rgba(48, 50, 50, 0.48);
}


.main{
	margin-top: 20px;
	margin-bottom: 20px;
}
.post{
	padding-bottom: 20px;
	margin-bottom: 20px;
	

}

.menu ul li a{

border-bottom: 1px solid rgba(0,0,0,0.1);

}

.post .post-title a {
    font-size: 20px;
	color:#333;

}
.post .thumb{
	margin-right:20px;
	width: 50%;
}
.post .thumb img{
	width: 100%;
}

.post .contenedor-botones{
    padding-bottom: 20px;
    margin-bottom: 20px;
	width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

@media screen and (max-width: 768px){
         .post .thumb{
         	width: 100%;
         	margin-bottom: 20px;
         	margin-right: 0px;
         }

         .post-title,.contenedor-botones,.post-autor,.post-fecha{
         
         	font-size: 15px;
         }

       
            
   
    
}

.carousel .carousel-indicators li:hover,
.carousel .carousel-indicators li:focus,
.carousel .carousel-indicators li:active,
.carousel .carousel-indicators li.active{
     background:#000;  

}



.tamano{
    max-width: 100%;
    min-height: 250px;
}


