{% extends 'layout/base.html' %}

{% block content %}
	<div class="container" style="margin-top: 100px;">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ title }}</h3>
					</div>
					<div class="panel-body">
						{% for message in messages %}
							<p class="text-{{ message.tags }}">{{ message }}</p>
						{% endfor %}
						<form role="form" action="{% url 'registrate' %}" enctype="multipart/form-data" method="POST">
							{% csrf_token %}
							{% for forms in form %}
								<div class="form-group col-md-6">
									<label>{{ forms.label }}</label>
									{{ forms }}
									{{ forms.errors }}
								</div>
							{% endfor %}
							<div class="form-group col-md-12 text-center">
								<button type="submit" class="btn btn-success">Registrarme</button>
							</div>
						</form>
					</div>
				</div>
				<div class="text-center">
					<p>¿Ya tienes cuenta? <a href="{% url 'login' %}" class="url">Ingresa</a></p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}