<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
		</div>
		<form role="form" action="{% url 'change_password' %}" method="POST">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					{% for form in forms %}
					<div class="form-group col-md-12">
						<label>{{ form.label }}</label>
						{{ form }}
						{{ form.errors }}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input type="submit" value="Actualizar" class="btn btn-success"/>
			</div>
		</form>
	</div>
</div>
<script>
	$("form").submit(function(event){
		event.preventDefault();
		var formData = new FormData(this);
		$.ajax({
			url: $(this).attr('action'),
			type: $(this).attr('method'),
			dataType: "json",
			data: formData,
			cache: false,
			contentType: false,
			processData: false,
			success: function(data){
				alert(data.msg);
				$('#Modal').modal('hide');
			}
		});
	});
</script>